@{
    @* To remove top notice alert, replace the string below with "" *@
    string topNoticeText = "";

    if (!string.IsNullOrEmpty(topNoticeText))
    {
        <div id="topNoticeAlert" class="alert alert-success alert-dismissible alert-dismissible-center fade show d-none" role="alert">
            <p class="mb-0">@Html.Raw(topNoticeText)</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
        </div>
    }
}