@{
    Layout = "~/_SiteLayout.cshtml";
    ViewData["Blog"] = "active";
}

<h1>Boxstarter Blog</h1>

<script src="https://feeds.feedburner.com/Boxstarter?format=sigpro" type="text/javascript"></script><noscript><p>Subscribe to RSS headline updates from: <a href="https://feeds.feedburner.com/Boxstarter"></a><br />Powered by FeedBurner</p> </noscript>
