.dotnet/
tools/
BuildArtifacts/
config.wyam.*
.DS_Store
output/
bin/
obj/
publish/
cache/
input/assets/css/
input/assets/js/
input/assets/fonts/
input/assets/images/global-shared/
input/global-partials/
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions