name: Build Pull Request
on:
  pull_request:

jobs:

  ###################################################
  # DOCS
  ###################################################

  build:
    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.301' # SDK Version to use.

    - name: Statiq-Build
      uses: cake-build/cake-action@v1
      with:
        target: Statiq-Build
        cake-version: tool-manifest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}