name: Build Pull Request
on:
  pull_request:

jobs:

  ###################################################
  # DOCS
  ###################################################

  build:
    name: Build
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json

    - name: Statiq-Build
      uses: cake-build/cake-action@v1
      with:
        target: Statiq-Build
        cake-version: tool-manifest
        script-path: recipe.cake
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}